<div id="footer" class="panel">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="col-sm-4">
          <img class="img-fluid" src="{{ site.baseurl }}/images/logo/dtu-logo.png"
               style="max-width: 80px;">
      </div>
      <!-- <div class="col-sm-4">
          <img class="img-fluid" src="{{ site.baseurl }}/images/logo/ku-logo.png"
               style="max-width: 96px;">
      </div>
      <div class="col-sm-4">
          <img class="img-fluid" src="{{ site.baseurl }}/images/logo/sdu-logo.png"
               style="max-width: 224px;">
      </div> -->

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
