---
---
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
</html>
<div class="text-justify">{{reference}}</div>
{% if entry.doi %}
    <a href="{{ entry.doi | prepend: 'https://doi.org/' }}" target="_blank"><input class="button1" type="button" value="DOI" /></a>
{% endif %}
<button class="button0"  onclick="toggleBibtex{{entry.key}}()">BibTex</button>
{% if entry.preprint %}
    <a href="{{ entry.preprint }}"><input class="button2" type="button" value="preprint" /></a>
{% endif %}
{% if entry.link %}
    <a href="{{ entry.link }}"><input class="button4" type="button" value="link" /></a>
{% endif %}
{% if entry.code %}
    <a href="{{ entry.code }}"><input class="button3" type="button" value="code" /></a>
{% endif %}
<div id="a{{entry.key}}" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>
<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>
