---
layout: default
---

<div id="homeid" class="col-sm-8 ml-0 nopadding-left">
    <div id="carousel" class="carousel slide" data-ride="carousel" data-interval="5000" data-pause="hover" >
        <div class="carousel-inner" markdown="0">
            <div class="item active">
                <img src="{{ site.url }}{{ site.baseurl }}/images/other/radical_project.png" alt="Slide 1"  style="object-fit:scale-down; width:600px; height:300px" />
            </div>
        </div>
    </div>

    {{ content }}

</div>

<div id="newsid" class="col-sm-4 nopadding-right" >
    {% include news.html %}
</div>
